<section id="edrm">
  <div class="titlebg">
    <div class="container">
      <div class="h2 text-center">WE PROVIDE SOLUTIONS FOR EVERY STAGE OF THE <span>EDRM PROCESS</span>. LEVERAGE OUR EXPERTISE FROM START TO FINISH.</div>
      <p class="text-center"><a href="{{ '/e-discovery/' | relative_url }}" class="btn btn-primary">LEARN MORE<span class="sr-only"> about our e-Discovery services</span></a> <a href="{{ '/contact/' | relative_url }}" class="btn btn-secondary">CONTACT US</a></p>
    </div>
  </div>
</section>
