<section id="junto">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><img src="{{ '/assets/i/JUNTO_BF.png' | relative_url }}" class="img-responsive" alt="Junto" width="433" height="257" loading="lazy" decoding="async"></div>
      <div class="col-sm-8">
        <div class="h2">Introducing Junto.</div>
        <div class="h3">Innovation Meets Design. E-Discovery just got Easier.</div>
        <p>From conference room to courtroom, Junto is an innovative e-Discovery web application that provides an easy to use solution for securely reviewing, searching and organizing vast amounts of discovery data. The cloud-based online platform provides Law, Business and Government Agency environments with direct access to information from anywhere in the world. Discover Junto and turn information into powerful results.</p>
        <p><a class="btn btn-primary" href="https://www.junto.net" target="_blank" rel="noopener" role="button">LEARN MORE AT JUNTO.NET</a> <a href="{{ '/contact/' | relative_url }}" class="btn btn-secondary">CONTACT US</a></p>
      </div>
    </div>
  </div>
</section>
